.banner {
  height: 50vh;
  position: relative;
  background: url("https://a0.muscache.com/im/pictures/miso/Hosting-1039697885306538405/original/f9905def-00f0-47b7-9516-f3ce867f01ed.png?im_w=720");
}

.banner_info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner_info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner_info > button:hover {
  background-color: white;
  color: #ff7779;
}

.banner_info > h5 {
  margin-top: 10px;
}

.banner_search {
  display: flex;
  flex-direction: column;
}

.banner_searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}
